*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
    line-height: 1.15;

    @media only screen and (max-width: 1200px) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @media only screen and (max-width: 56.25em) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }

    @media only screen and (min-width: 1800px) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

body {
    box-sizing: border-box;
}

p {
    margin: 0 0 10px;
    display: block;
}

a {
    text-decoration: none;
    color: $color-primary-dark;
    cursor: pointer;
}

button {
    cursor: pointer;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

button, input, optgroup, select, textarea {
    font-family: "Montserrat",sans-serif;
    font-size: 100%;
    line-height: 1;
    margin: 0;
}

input.input-text, textarea {
    appearance: none;
}

input.input-text, select, textarea {
    background: #fff;
    border: 1px solid #ddd;
    color: #888;
    box-sizing: border-box;
    border-radius: 0px;
    box-shadow: none;
}

input.input-text, textarea {
    padding: 7px 10px;
    text-overflow: ellipsis;
}

input.qty {
    width: 3em;
    text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
