.cart-page {
    @media only screen and (max-width: 769px) {
        .container {
            width: 90%;
            margin: 0 auto;
        }
    }
}
.cart {

    margin: 35px 0;

    .checkout-types {
        width: 100%;
        max-width: 390px;
        @media screen and (max-width: 770.8px){
            max-width: unset;
        }
    }

    .title-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        gap: 3rem;
        @media screen and (max-width: 770.8px){
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 6rem;

            h1 {
                text-align: center;
            }
        }

        h1 {
            font-size: 24px;
            color: #d5ae68;
            text-transform: uppercase;
        }
    }

    fieldset {
        padding: 0;
        border: none;
    }
    fieldset {
        clear: both;
    }
    .cart-table-wrapper {
        @media only screen and (max-width: 1210px) {
            overflow-x: scroll;
        }
        @media only screen and (max-width: 770.8px) {
            margin-bottom: 5rem;
        }
    }
    .cart-table {
        tr {
            transition: 0.3s all ease;
            filter: inherit;
        }
        th {
            background: #fff;
            font-weight: 300;
            text-transform: uppercase;
            font-size: 14px;
            text-align: center;
            white-space: nowrap;
        }
        td {
            vertical-align: middle;
            &.total, &.unitario {
                white-space: nowrap;
            }
        }
        tfoot tr:last-child td {
            border-color: transparent;
        }
        tfoot tr.first td {
            padding: 10px 0 0;
        }
        tfoot td {
            padding: 5px;
        }
        .btn-limpar, .btn-update {
            background: none;
            cursor: pointer;
            font-size: 11px;
            color: #666;
            border: none;
            padding: 5px 0px 5px 10px;
            width: 160px;
            height: 42px;
            line-height: 32px;
            text-transform: uppercase;
            &:before {
                font-family: 'fontello';
                font-size: 20px;
                float: left;
                transform: translateY(-5px);
            }
        }
        .btn-limpar {
            border: 1px solid #acacac;
            &:before {
                content: '\f083';
                transform: translateY(-5px);
            }
        }
        .btn-update {
            border: 1px solid #000;
            &:before {
                content: '\e81a';
                color: #000;
            }
        }

        .product-name {
            margin: 0 0 5px;
        }
        h2 a {
            font-family: "Montserrat",sans-serif,sans-serif;
            font-size: 14px;
            font-weight: bold;
        }
        .box-qty {
            width: 80px;
            height: 39px;
            position: relative;
            display: block;
            margin: 0 auto;
            display: flex;
            justify-content: flex-end;

            .arrow {
                display: block;
                position: absolute;
                font-size: 0;
                left: 0;
                width: 20px;
                height: auto;
                cursor: pointer;
                &:before {
                    display: block;
                    content: '';
                    width: 0;
                    height: 0;
                }
                &.inc {
                    top: 5px;
                    &:before {
                        border-right: 10px solid transparent;
                        border-left: 10px solid transparent;
                        border-bottom: 10px solid #666;
                    }
                }
                &.dec {
                    bottom: 5px;
                    &:before {
                        border-right: 10px solid transparent;
                        border-left: 10px solid transparent;
                        border-top: 10px solid #666;
                    }
                }
            }
        }
        input {
            color: #000;
            font-size: 17px;
            font-weight: 500;
            font-family: "Montserrat",sans-serif;
        }

        .price {
            color: #454545;
            font-size: 18px;
            font-weight: 600;
        }

        .small {
            font-size: 11px;
            color: #666;
        }

        a.remover {
            color: #dd2224;
            text-decoration: none;
            position: relative;
            font-size: 16px;
            width: 32px;
            height: 32px;
            display: block;
            line-height: 28px;
            text-align: center;
            margin: 0 auto;
            border-radius: 50%;
            border: 3px solid #dd2224;
            font-weight: 700;
            transition: all 300ms ease;
        }

        .icon-cancel:before {
            content: '\e80d';
        }
    }

    .btn-continue {
        background: #d5ae68 !important;
        cursor: pointer;
        border-radius: 0;
        border: 0;
        color: #FFF;
        text-transform: uppercase;
        width: 162px;
        height: 42px;
        padding-left: 20px;
        font-size: 11px;
        font-weight: 700;
        transition: all 300ms ease;
        line-height: 13px;
        &:before {
            content: '';
            width: 0;
            height: 0;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-right: 6px solid #fff;
            position: relative;
            float: left;
            transition: all 300ms ease;
        }
    }
    .cart-collaterals {
        display: flex;
        justify-content: flex-end;
    }
    .total-wrap-cart {
        @media screen and (min-width: 770px){
            width: 33.3333333%;
        }
        @media screen and (max-width: 770.8px){
            width: 100%;
        }

        .totals {
            margin: 10px 0;
            table {
                line-height: 2;
                width: 100%;
                tfoot {
                    tr {
                        padding: 5px 15px 5px 7px;
                        white-space: nowrap;
                        td {
                            color: #000;
                            vertical-align: middle;
                            strong {
                                font-size: 12px;
                                text-transform: uppercase;
                                font-weight: normal;
                            }
                            .price {
                                font-size: 24px;
                                font-weight: 800;
                                margin-left: 15px;
                            }
                        }
                    }
                }
               tr {

                    td {
                        font-weight: bold;
                        font-size: 16px;
                        margin: 0;
                        vertical-align: middle;
                        &:first-child {
                            font-weight: normal;
                            text-transform: uppercase;
                            font-size: 12px;
                            margin-right: 15px;
                            max-width: 100%;
                        }
                    }
                }
            }
        }
        .checkout-types {
            width: 100%;
            .btn-checkout {
                width: 100%;
                background: #55da44;
                border: none;
                border-radius: 0;
                color: #FFFFFF;
                display: inline-block;
                font-size: 18px;
                font-weight: bold;
                padding: 12px 15px;
                text-decoration: none;
                text-transform: capitalize;
                text-shadow: 0 1px 0 #55da44;
                box-shadow: none;
                width: 100%;
                transition: 0.25s linear;
            }
        }
    }

}
