.checkout {
    width: 100%;
    color: #333;
    font-size: 13px;
    .col1-button {
        display: flex;
        width: 100%;
        border-bottom: 1px solid #DDDDDD;
        margin: 0 0 15px;
        padding: 0 0 10px;

        .text-wrapper {
            @media screen and (min-width: 770px) {
                    width: 75%;
                    padding-right: 15px;
            }

            h1 {
                font-size: 24px;
                margin: .67em 0;
            }
        }
        .btn-wrapper {
            @media screen and (min-width: 770px) {
                width: 25%;
            }
        }
        .button-top {
            width: 100%;
            margin-top: 30px;
        }
    }
    .columns-container {
        display: flex;
        align-items: flex-start;
        .osc-title {
            display: flex;
            background: none repeat scroll 0 0 #f9f9f9;
            border-bottom: 1px solid #DDDDDD;
            border-top: 1px solid #DDDDDD;
            height: 35px;
            width: 100%;
            margin: 0 0 10px;
            .number {
                border-right: none;
                color: #fff;
                display: block;
                font-size: 18px;
                font-weight: bold;
                height: 34px;
                line-height: 34px;
                text-align: center;
                width: 35px;
                background: #d5ae68;
            }
            h2 {
                color: #333;
                font-weight: 700;
                line-height: 34px;
                font-family: "Montserrat",sans-serif;
                margin-left: 10px;
                font-size: 12px;
            }
        }
        .col3-left, .col3-middle, .col3-right {
            border-left: 1px solid #DDDDDD;
            border-right: 1px solid #DDDDDD;
            border-bottom: 1px solid #DDDDDD;
            border-top: none;
            min-height: 270px;
            margin-bottom: 10px;
        }
        .col3-left {
            width: 320px;
            flex: 0 0 320px;
            background: #fff;
            margin-right: 0;
            #div_billing_address_form {
                margin-bottom: 20px;
            }
        }
        .form_billing_fs, .field_pf {
            padding: 0 15px;
            width: 100%;
        }
        fieldset {
            border: none;
            margin: 0;
            padding: 0;
        }
        .col-unique, .field_row {
            position: relative;
            display: table;
            width: 100%;
        }
        .col-unique {
            display: flex;
            align-items: center;
        }
        .field_row {
            margin: 0 0 5px;
            width: 100%;
        }
        .osc_label {
            font-size: 13px;
            font-weight: 400;
            text-transform: uppercase;
            text-align: right;
            padding: 0 5px 0 0;
            margin: 0;
            width: 36%;
        }
        .osc_required {
            color: #F00;
            font-weight: bold;
            margin-left: 3px;
        }
        address, em {
            font-style: normal;
        }
        .col-unique label, .col-unique input, .col-unique select, .col-unique button, .col-unique span, .field_row label, .field_row input, .field_row select, .field_row button, .field_row span {
            display: inline-block;
            vertical-align: middle;
            font-family: "Montserrat",sans-serif;
        }
        #osc_field_billing_cep, #osc_field_shipping_cep {
            width: 100px;
            text-align: center;
            font-weight: bold;
            color: #333;
            text-indent: 0;
            letter-spacing: 1px;
        }
        .osc_anchor {
            font-size: 12px;
        }

        .fieldpart-postcode-link {
            margin: 3px 0 0 10px;
            width: 55px;
            margin-left: auto;
        }
        input.input-text, select, textarea {
            background: #fff;
            border: 1px solid #ddd;
            color: #888;
            box-sizing: border-box;
            border-radius: 0px;
            box-shadow: none;
        }
        input.input-text, textarea {
            padding: 7px 10px;
            text-overflow: ellipsis;
        }
        input.osc_input, .billing_select {
            margin: 0;
            padding: 6px 2px;
            width: 62%;
        }
        .mt10 {
            margin-top: 10px !important;
        }
        #osc_field_billing_newsletter, #osc_field_billing_useasshipping, #osc_field_billing_saveaddress, #osc_field_shipping_saveaddress {
            margin: 0 5px 0 0;
        }
        #osc_field_billing_newsletter+label, #osc_field_billing_useasshipping+label, #osc_field_billing_saveaddress+label, #osc_field_shipping_saveaddress+label {
            width: auto;
            padding: 0;
        }
        .osc-validation {
            width: 100%;
            margin: 0 0 10px;
            span {
                padding-left: 10px;
                color: red;
                font-size: 10px;
                font-weight: normal;
                font-family: "Montserrat",sans-serif;
            }
        }

        .col3-middle {
            border: medium none;
            margin: 0 10px;
            position: relative;
            width: 384px;
        }

        .shipping-container, .payment-container, .coupon-container {
            border-left: 1px solid #DDDDDD;
            border-right: 1px solid #DDDDDD;
            border-bottom: 1px solid #DDDDDD;
            border-top: none;
            background: #fff;
            width: 100%;
        }

        .shipping-container, .payment-container {
            margin: 0 0 10px;
        }
        #ship-method {
            margin: 10px 20px 20px;
        }

        #co-payment-form {
            line-height: 2;
            padding: 0 10px 10px;
            font-family: "Montserrat",sans-serif;
        }
        dd,dt {
            margin-bottom: 5px;
        }
        #shipping_methods, #checkout-review-table-wrapper {
            width: 100%;
            font-family: "Montserrat",sans-serif;
        }

        #checkout-review-table {
            margin: 10px;
            width: 95%;
            thead {
                background: #f9f9f9;
                border-top: solid 1px #ddd;
            }
            tr {
                border-bottom: solid 1px #ddd;
                &:nth-child(even) {
                    background: #f9f9f9;
                }
            }
            .price {
                font-weight: bold;
                white-space: nowrap;
            }
            tfoot tr:last-child {
                background: #d5ae68;
                color: #FFFFFF;
                text-transform: uppercase;
                font-size: 15px;
            }
            tr {
                border-bottom: solid 1px #ddd;
            }
            .img-wrapper {
                margin: 0 0 10px 0;
                width: 100%;
                position: relative;
                text-align: center;
            }
            .img-wrapper .hover-img {
                display: none;
                position: absolute;
                top: 0px;
                border: 1px solid #fff;
                box-shadow: 0px 0px 10px #999;
                img {
                    display: block;
                }
            }
            .product-name {
                color: #333;
                font-size: 12px;
                line-height: 1;
                width: 100%;
            }

        }
        .alert {
            display: none;
            color: #B94A48;
            background-color: #F2DEDE;
            border: 1px solid #EED3D7;
            padding: 15px;
            margin: 0 0 20px;
        }
        .back-to-cart {
            display: flex;
            a {
                color: #666666;
                font-size: 12px;
                margin: 0 10px 10px;
                text-indent: 5px;
                font-family: "Montserrat",sans-serif;
            }
        }
        .col3-right {
            width: 38%;
            display: inline-block;
            margin: 0 0 10px;
            background: #fff;
            border: none !important;
        }
        .col3-right .border {
            width: 100%;
            border-left: 1px solid #DDDDDD;
            border-right: 1px solid #DDDDDD;
            border-bottom: 1px solid #DDDDDD;
        }
        .button-container {
            margin: 10px 0 0;
            width: 100%;
            display: flex;
            justify-content: space-between;

            .img-wrapper {
                position: relative;
                width: 100%;
                margin: 0;
                padding: 0;
                .seloSeguro {
                    margin: -10px 15px 0 0;
                }
                @media screen and (min-width: 770px) {
                    width: 41.6666667%;
                    padding: 0 15px;
                }
            }

            .btn-wrapper {
                position: relative;
                width: 100%;
                margin: 0;
                padding: 0;
                @media screen and (min-width: 770px) {
                    width: 58.3333333%;
                }
            }
        }



    }


}
