.home-slider {
    img {
        width: 100%;
    }
    .owl-nav button.owl-prev {
        left: 20%;
        &::before {
            margin-left: 8px;
            transform: rotate(315deg);
        }
    }
    .owl-nav button.owl-next {
        right: 20%;
        &::before {
            margin-right: 8px;
            transform: rotate(135deg);
        }
    }
    &.owl-carousel .owl-nav button.owl-prev, &.owl-carousel .owl-nav button.owl-next {
        background: transparent;
        width: 45px;
        height: 45px;
        border-radius: 50px;
        border: solid 3px #e6deda;

        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        &::before {
                content: '';
                display: inline-block;
                border-top: 3px solid #e6deda;
                border-left: 3px solid #e6deda;
                height: 15px;
                width: 15px;
        }
    }
}

.coffee-favours {
    position: relative;

    @media only screen and (max-width: 730.8px){
        margin: 8rem 0 20px 0;

    }

    &:before {
        content: '';
        background: #f1f1f1;
        width: 100%;
        display: block;
        position: absolute;
        top: 20%;
        height: 80%;
        z-index: -1;
        @media only screen and (max-width: 1100.8px) {
            top: 30%;
            height: 70%;
        }
        @media only screen and (max-width: 730.8px) {
            background: unset;
        }
    }

    .coffee-favours-container {
        display: flex;
        gap: 40px;

        @media only screen and (max-width: 1100.8px) {
            flex-direction: column;
            gap: 0px;
        }
        @media only screen and (max-width: 730.8px) {
            width: 90%;
            margin: 0 auto;
            border: 1px solid #f4f4f4;
            border-radius: 5px;
            padding: 10px 0 20px;
        }
        .coffee-favours--title {
            h3 {
                white-space: nowrap;
                margin-top: 65%;
                padding: 12px 12px;
                font-size: 30px;
                color: $color-primary-light;
                font-family: $font-museo700;
                @media only screen and (max-width: 1100.8px) {
                    text-align: center;
                    margin: 0;
                }
                span {
                    font-family: $font-museo400;
                    color: $color-grey-light;
                    font-size: 15px;
                    display: block;
                    font-weight: normal;
                }
            }
        }

        .coffee-favours--items {
            flex: 1;

            .favours {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;
                padding: 0 0 0 10px;
                @media only screen and (max-width: 1100.8px){
                    justify-content: center;
                    gap: 2rem;
                }
                @media only screen and (max-width: 730.8px) {
                    flex-wrap: wrap;
                    gap: 0;
                    row-gap: 15px;
                }

                li {
                    @media only screen and (max-width: 730.8px) {
                        flex: 0 0 33%;
                        flex-direction: row;

                        a:last-of-type{
                            align-self: flex-end;
                        }
                    }
                    @media only screen and (max-width: 540.8px) {
                        flex-direction: column;
                        a:last-of-type{
                            align-self: center;
                        }
                    }
                    a {
                        text-align: center;
                        font-family: $font-museo700;
                        color: #846d61;
                        font-size: 14px;
                        transition: color 0.3s ease;

                        img {
                            &.intenso {
                                height: 10rem;
                                width: auto;
                            }

                            &:not(.intenso) {
                                width: 7.7rem;
                            }

                            &:not(.intenso) , &.intenso {
                                @media only screen and (max-width: 730.8px) {
                                    width: auto;
                                    height: auto;
                                }
                            }
                        }

                    }
                }
                .coffee-cup {
                    img {
                        width: 100%;
                        max-width: 383px;
                    }
                    @media only screen and (max-width: 730.8px) {
                        display: none;
                        flex: 0 0 100%;
                        img {
                            width: 30rem;
                            margin: 0 auto;
                            display: block;
                        }
                    }
                }
            }
        }
    }

}

.recipes-slider {
    background: url("/storage/images/recipes-slider/bgreceitas.png") no-repeat;

    min-height: 885px;
    background-position-y: 125px;

    @media screen and (min-width: 770px) {
        margin-bottom: -115px;
    }

    @media screen and (max-width: 769.8px) {
        min-height: 700px;
    }
    @media screen and (max-width: 530.8px) {
        min-height: 550px;
        background-position-y: 12px;
    }
    .recipe-slide {

        .slide-img {
            margin: 20px auto;
            @media screen and (min-width: 770px) {
                max-width: 50%;
            }

            img {
                width: 100%;
            }
        }

        ul li {
            text-align: center;
            font-size: 12px;
            padding: 5px 10px;

            a {
                color: $color-white;
                font-size: 14px;
                text-transform: uppercase;
                font-family: $font-museo400;
                font-weight: bold;
                margin-bottom: 5px;
                display: block;
            }

            .title {
                font-family: $font-museo400;
                color: $color-grey-light;
                font-size: 16px;
                text-align: center;
                text-transform: none;
                line-height: 0;
                font-style: normal;
                font-weight: 400;
                margin: 0 0 0.5em;
                text-rendering: optimizelegibility;
            }
            .subtitle {
                color: $color-primary-light;
                font-family: $font-museo700;
                font-size: 30px;
                text-align: center;
                margin-bottom: 25px;
            }

            .text-content {
                margin: 0 auto;
                @media screen and (min-width: 770px) {
                    max-width: 50%;
                }
            }

            p {
                color: $color-white;
                font-family: $font-museo400;
                font-size: 14.5px;
            }

            a.read-more {
                text-decoration: underline;
                text-transform: none;
                font-weight: normal;
            }
        }
    }

    .owl-nav button.owl-prev {
            left: 26%;
        &::before {
            margin-left: 8px;
            transform: rotate(315deg);
        }

    }
    .owl-nav button.owl-next {
        right: 26%;
        &::before {
            margin-right: 8px;
            transform: rotate(135deg);
        }
    }
    .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next{
        width: 26px;
        height: 26px;
        position: absolute;
        top: 95%;
        &::before {
            content: '';
            display: inline-block;
            border-top: 4px solid #ccc;
            border-left: 4px solid #ccc;
            height: 20px;
            width: 20px;
        }
    }
}
