.main-container {
    padding: 0 12px;
}

.product-img-details {
    display: flex;
    margin-bottom: 40px;

    @media screen and (max-width: 1000.8px) {
        flex-direction: column;
    }

    .product-image-gallery {
        position: relative;
        @media screen and (min-width: 770px) {
            width: 58.3333333%;
            padding: 0 15px 0 0;
        }
        @media screen and (max-width: 1000.8px) {
            margin-bottom: 40px;
            max-width: 600px;
            width: 100%;
        }
        .xzoom-container {
            width: 100%;
            .xzoom-img-container {
                float: right;
                width: calc(100% - 120px);
                @media screen and (min-width: 770px) {
                }
                .xzoom4 {
                    width: 100%;
                    max-width: 100%;

                }
            }
            .xzoom-thumbs {
                display: flex;
                flex-direction: column;
                width: 10.4rem;
                max-width: 104px;
                img {
                    width: 100%;
                }
            }
        }
    }
    .product-details {
        @media screen and (min-width: 770px) {
            width: 41.6666667%;
            padding: 0 0 0 15px;
        }
        @media screen and (max-width: 1000.8px) {
            max-width: 600px;
            width: 100%;
        }
        .product-name {
            margin-bottom: 10px;
            h2 {
                font-family: "Montserrat",sans-serif;
                color: #3a2419;
                font-weight: 700;
                font-size: 20px;
                margin: 0 0 10px;
            }
        }

        .bloco-info-produto, .product-shop #info-extra {
            border-bottom: 1px solid #ddd;
            margin-bottom: 10px;
            padding-bottom: 10px;
        }

        .bloco-info-produto {
            display: flex;
            justify-content: space-between;

            .no-ratings {
                display: flex;

                .rating-box {
                    width: 91px;
                    height: 16px;
                    font-size: 0;
                    line-height: 0;
                    text-indent: -999em;
                    overflow: hidden;
                    display: inline-block;
                    vertical-align: middle;
                    position: relative;
                    bottom: 2px;
                    left: 3px;
                    &:before {
                        font-family: "fontello";
                        content: "\E85F\20\E85F\20\E85F\20\E85F\20\E85F";
                        width: 91px;
                        height: 16px;
                        color: #aeaeae;
                        display: block;
                        font-size: 13px;
                        line-height: 13px;
                    }
                }
            }
        }
        #info-secondaria {
            a {
                font-weight: 500;
                color: #57544c;
            }
            div span {
                color: #57544c;
                font-family: "Montserrat",sans-serif;
                font-size: 12px;
                font-weight: 500;
                &.disponivel {
                    color: #b3a78a;
                }
            }
        }

        .box-additional {
            .containerAtributo {
                display: flex;
                width: 100%;
                margin-bottom: 15px;
                h3 {
                    font-family: "Montserrat",sans-serif;
                    font-weight: 700;
                    display: inline-block;
                    color: #3a2419;
                    font-size: 12px;
                    padding: 0 7px 0 0;
                    width: auto;
                    margin: 0;
                    line-height: 2.4;
                }
                .outros-lista-atributos{
                    display: flex;
                    align-items: center;
                    li {
                        line-height: 1;
                        border: solid 1px #f2f2f2;
                        border-radius: 4px;
                        margin: 0 5px;
                        a {
                            background: #f2f2f2;
                            display: block;
                            cursor: pointer;
                            text-align: center;
                            padding: 4px 16px;
                            font-size: 14px;
                            text-decoration: none;
                            font-weight: 500;
                            min-width: 30px;
                            min-height: 10px;
                            line-height: 1;
                            color: #a9a9a9;
                            position: relative;
                            border-radius: 4px;
                        }
                    }
                }

            }
        }

        .price-qty-container {
            position: relative;
        }
        .preco-comprar {
            display: flex;
            padding-bottom: 10px;
            .preco-prod {

                .price-box {
                    font-family: "Montserrat",sans-serif;
                    color: #454545;
                    line-height: 1;
                    .old-price, .special-price {
                        margin: 5px 0;
                        font-size: 13px;
                    }
                    .old-price {
                        .price-label {
                            text-decoration: line-through;
                        }
                        .price {
                            font-weight: bold;
                            text-decoration: line-through;
                        }
                    }
                    .special-price .price, .regular-price .price {
                        font-size: 3rem;
                        color: #aa0f14;
                        font-weight: bold;
                    }
                    .price-statement {
                        .price-num, .xmark, .price {
                            font-weight: 700;
                        }
                    }
                }
            }
            .add-to-cart {
                margin: 0 0 15px 0;
                width: min-content;

                .qty-wrapper {
                    width: 130px;
                    margin-right: 10px;
                    clear: both;
                    background: #fff;

                    display: flex;
                    align-items: center;

                    .qty {
                        margin-left: 3px;
                        padding: 0;
                        border: solid 1px #ebebeb;
                        background-color: #ffffff;
                        border-radius: 5px;
                        width: 84px;
                        height: 45px;
                        font-family: "Montserrat",sans-serif;
                        font-size: 17px;
                        font-weight: 700;
                        color: #d5ae68;
                        text-align: center;
                        text-indent: 0;
                    }

                    .arrow {

                        position: relative;
                        cursor: pointer;
                        margin: 0;

                        border: none;
                        font-size: 25px;
                        transition: 0.3s ease;
                        font-weight: 500;
                        color: #666;

                        &.dec {
                            font-size: 35px;
                            margin: 0 5px 6px;
                        }
                        &.inc {
                            margin: 0 5px;
                        }
                    }
                }



            }




        }

        .add-to-cart-btn-container {
            display: flex;
            margin: 0 0 15px 0;



            .btn-special {

                @media screen and (max-width: 1000.8px) {
                    max-width: 600px;
                    width: 100%;
                }

                margin-top: 9rem;
                background-color: #55da44;
                color: #fff;
                font-size: 16px;
                font-weight: 600;
                line-height: 1.3;
                width: 100%;
                padding: 14px 35px;
                position: relative;
                clear: both;
                float: left;
                font-family: "Montserrat",sans-serif;
                border: none;
                text-shadow: 1px 2px 0px #42d62f;
                border-radius: 4px;
                transition: 0.3s ease;
                &:hover {
                    opacity: .8;
                }
            }
        }
        #socialWrap {
            padding-top: 20px;
            border-top: 1px solid #d9d9d9;
            display: flex;
            align-items: center;
            h4 {
                width: auto;
                display: table-cell;
                margin: 0;
                vertical-align: middle;
                font-weight: 500;
                color: #000;
                font-size: 13px;
                padding-right: 15px;
            }
            #share-product {
                display: flex;
                li {
                    margin: 0 5px 0px 0;

                    a {
                        width: 45px;
                        height: 45px;
                        color: #3a2419;
                        text-decoration: none;
                        padding-top: 3px;
                        overflow: hidden;
                        text-align: center;
                        border-radius: 5px;
                        display: inline-block;
                        &:before {
                            transition: 0.3s ease;
                            font-size: 30px;
                            color: #d5ae68;
                        }
                        &.icon-facebook:before {
                            content: '\f09a';
                        }
                        &.icon-twitter:before {
                            content: '\f099';
                        }
                        &.icon-gplus:before {
                            content: '\f0d5';
                        }
                        &.icon-mail-alt:before {
                            content: '\f0e0';
                        }
                    }
                }
            }

        }
    }
}
#tabs-produto {
    display: flex;
        .accordion-tabs-minimal {
            line-height: 1.5;
        }
        .tab-header-and-content {
            width: 100%;

            li {
                /** Media Query 770 **/
                display: inline;
                margin-right: 10px;
                position: relative;
                /** End Media Query 770 **/
            }


            .tab-link {
                color: #ccc;
                display: block;
                text-decoration: none;
                padding: 5px;
                font-family: "Montserrat",sans-serif;
                font-size: 25px;
                font-weight: bold;

                /** Media Query 770 **/
                border-top: 0;
                display: inline-block;
                transition: all 0.25s ease;
                border-bottom: 3px solid transparent;
                margin-bottom: -3px;
                text-align: center;
                font-size: 1.8rem;
                letter-spacing: 1.5px;
                font-weight: 600;
                padding: 10px 0px;
                width: 260px;
                color: #cfc5b4;
                background-color: #eae3d7;
                border-radius: 8px 8px 0 0;
                /** End Media Query 770 **/

                &:hover {
                    color: #3a2419;
                }

                &.is-active {
                    /** Media Query 770 **/
                        background-color: #5b3a2c;
                        color: #fff;
                    /** End Media Query 770 **/
                }
            }
        }

        .tab-content {
            display: none;
            padding: 1.5em 1.618em;
            width: 100%;
            font-family: "Montserrat",sans-serif;
            color: #3a2419;
            transition: all 0.25s ease;

            /** Media Query 770 **/
            border-top: 3px solid #dcdcdc;
            float: left;
            color: #3a2419;
            background-color: #f9edd7;
            font-size: 1.6rem;
            font-weight: 400;
            border: solid 1px #f9edd7;
            margin-top: 3px;
            clear: both;
            /** End Media Query 770 **/

            &.is-open {
                display: block!important;
            }
            .data-table {
                text-align: left;
                th {
                    @media screen and (max-width: 616.8px) {
                        white-space: pre-wrap;
                    }
                }
                tbody td.label, tbody th.label {
                    font-weight: bold;
                }
                th, td {
                    border: none;
                }
                th.label, th.label, td.label, td.label {
                    background-color: transparent;
                }
                th, td {
                    border: none;
                }

                tr {
                    &:nth-child(odd) {
                        background-color: #fdfdfd;
                    }
                    &:nth-child(even) {
                        background-color: #f6f6f6;
                    }
                }
            }
        }

}

