.successful-payment-page {
    h1 {
        font-size: 3.5rem;
        color: #d5ae68;
        font-family: "museo700", sans-serif;
        text-align: center;
        padding: 2rem 0 .8rem;
    }
    p {
        color: #3a2419;
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 3rem;
        text-align: center;
    }
    .order-info {
        font-size: 14px;
        margin-bottom: 6px;
        text-align: center;
        margin-bottom: 3rem;
    }
    .data-table .img-content img {
        height: 90px;
    }
    .table-wrapper {
        width: 100%;
        overflow-x: scroll;
        .data-table {
            max-width: 600px;
            margin: 0 auto;
            thead {
                    background-color: rgb(235 207 122 / 80%);
                th {
                    border: 1px solid #d5ae68;
                    color: #3a2419;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
            tbody {
                font-size: 14px;

                td {
                    border: 1px solid #d5ae68;
                }
                tr:nth-child(even) {
                    background-color: rgb(239 217 149);
                }
                .img-content img {
                    height: 90px;
                }
            }
        }
    }

}
