.btn-with-arrow {
    background: #d5ae68 !important;
    cursor: pointer;
    border-radius: 0;
    border: 0;
    color: #FFF!important;
    text-transform: uppercase;
    width: 162px;
    height: 42px;
    padding-left: 20px;
    font-size: 11px;
    font-weight: 700;
    transition: all 300ms ease;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-decoration: none!important;
    &:before {
        content: '';
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 6px solid #fff;
        position: relative;
        float: left;
        transition: all 300ms ease;
        margin-right: 16px;
    }
}
