table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    font-size: 100%;
}
.a-center {
    text-align: center;
}
.a-right {
    text-align: right !important;
}

.data-table {
    width: 100%;
    margin: 0 0 10px;
    thead {
        background-color: #f8f8f8;
    }
    td {
        padding: 10px;
        border: 1px solid #ddd;
    }
    th {
        padding: 8px;
        white-space: nowrap;
        font-weight: bold;
        border: 1px solid #ddd;
    }
    a {
        font-size: 12px;
        text-decoration: underline;
        font-weight: bold;
        color: #3a2419;
    }
    .product-image {
        background: none repeat scroll 0 0 #FFFFFF;
        width: 100px;
        text-align: center;
    }
    .product-name {
        margin: 0;
    }
}
