.btn-checkout {
    width: 100%;
    background: #55da44;
    border: none;
    border-radius: 0;
    color: #FFFFFF;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 15px;
    text-decoration: none;
    text-transform: capitalize;
    text-shadow: 0 1px 0 #55da44;
    box-shadow: none;
    width: 100%;
    transition: 0.25s linear;
    text-align: center;
    &:hover {
        opacity: .8;
    }
}

button:hover:enabled {
    cursor: pointer!important;
}
