
.products-section {
    @media screen and (min-width: 770px){
        .container {
            padding: 0 15px;
        }
    }
    .page-title {
        padding: 10px 0;
        margin-bottom: 2rem;

        h3 {
            font-family: "museo700",sans-serif;
            color: #3a2419;
            font-size: 22px;
            text-transform: uppercase;
        }
        &.category-title.category-title h3:before {
            content: '\E85F';
            font-family: 'fontello';
            float: left;
            font-size: 13px;
            line-height: 1.5;
            padding-top: 2px;
            margin-right: 8px;
            color: #d5ae68;
        }
    }
    .title-bar {
        background: url("/storage/images/others/titulo.png") no-repeat;
        background-position: center 100%;
        margin: 0 0 40px;

        h2, h2 span {
            text-align: center;
            margin: 0 auto;
        }
        h2 span {
            font-size: 16px;
            font-family: $font-museo300;
            display: block;
            text-align: center;
            color: $color-grey-light;
        }

        h2 {
            font-family: $font-museo700;
            font-size: 32px;
            letter-spacing: 2.5px;
            padding: 12px 0;
            color: $color-primary-light;
            font-weight: 500;
        }
    }
    .products-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 30px 25px;
        margin-bottom: 60px;
        @media only screen and (max-width: 650.8px) {
            gap: 30px 4%;
        }


        .item {
            width: calc( (100% - (3 * 25px)) / 4 );
            padding: 1%;
            background: #f6f6f5;
            transition: all 200ms ease;

            @media only screen and (max-width: 769.8px) {
                width: calc( (100% - (2 * 25px)) / 3 );
            }
            @media only screen and (max-width: 650.8px) {
                width: calc( (100% - 4%) / 2 );
            }
            &:hover {
                box-shadow: 1px 0px 9px 0px rgb(16 16 16 / 45%);
            }

            .product-image-wrapper .product-image img {
                display: block;
                margin: 0 auto;
                max-width: 100%;
                background-color: #fff;
            }
            .infobox {
                margin-top: 10px;
                min-height: 170px;
                text-align: center;
                display: flex;
                flex-direction: column;

                .product-name {
                    display: block;
                    margin-bottom: 15px;
                    min-height: 48px;
                    max-height: 48px;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 1.2;
                    overflow: hidden;
                    white-space: normal;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    padding: 15px 22px 0;

                    a {
                        font-family: $font-museo400;
                        color: $color-primary-dark;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 1.2;
                        text-decoration: none;
                        transition: 0.3s ease;
                    }
                }
                .no-ratings {
                    margin-bottom: 5px;

                    .rating-box {
                        width: 91px;
                        height: 16px;
                        font-size: 0;
                        line-height: 0;
                        text-indent: -999em;
                        overflow: hidden;
                        position: relative;
                        display: inline-block;
                        vertical-align: middle;

                        &:before {
                            font-family: "fontello";
                            content: "\E85F\20\E85F\20\E85F\20\E85F\20\E85F";
                            width: 91px;
                            height: 16px;
                            color: #aeaeae;
                            display: block;
                            font-size: 13px;
                            line-height: 13px;
                        }
                    }
                }

                .price-box {
                    font-family: "Montserrat",sans-serif;
                    color: #454545;
                    line-height: 1;
                    margin-top: 10px;
                    position: relative;
                    font-size: 1.5rem;
                    .old-price {
                        top: 3px;
                        margin: 0;
                        color: #898989;
                        display: inline-block;
                        .price {
                            font-weight: 500;
                            text-decoration: line-through;
                        }
                    }
                    .special-price, .regular-price {
                        display: inline-block;
                        margin: 0 0 5px 0;
                        .price {
                            color: #aa0f14;
                            font-weight: bold;
                            font-size: 2rem;
                        }
                    }
                }


                .bt-add {
                    margin-top: auto;
                    .btn-ajax {
                        background: #c8c5c3;
                        width: 100%;
                        transition: all 200ms ease;
                        border: none;
                        color: #fff;
                        padding: 0;
                        line-height: 2;
                        margin: 5px auto;
                        font-size: 15px;
                        font-weight: 500;
                        border-radius: 4px;
                    }
                }
            }
        }
    }

}
