

.header-container {

    @media screen and (min-width: 770px){
        &#top {
            width: 100%;
            position: relative;
            left: 0;
            z-index: 109;
            background: url("/storage/images/header/header-background.png") no-repeat 0 center;
            background-size: cover;
            height: 18rem;
            transition: top 0.2s ease;
        }

        .show-fixed {
            display: none;
        }
    }
    @media only screen and (max-width: 769.8px) {
        &#top {
            background: $color-white;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 109;
            box-shadow: 0 2px 3px 0 rgb(0 0 0 / 20%);
        }
    }


    .container {
        display: flex;

        @media only screen and (max-width: 769.8px) {
            width: 100%;
        }

        &:before {
            display: table;
            line-height: 0;
            content: "";
        }
    }

    header {

        padding: 3rem 0;
        @media only screen and (max-width: 769.8px) {
            padding: 0;
        }

        .header-primary-container {

            align-items: flex-start;

            @media only screen and (max-width: 769.8px) {
                display: flex;
                align-items: center;
            }
            .open-mobile-nav {
                @media only screen and (max-width: 769.8px) {
                    width: 50px;
                    height: 55px;
                    background: rgba(0,0,0,0.1);
                    transform: rotate(0deg);
                    transition: 0.5s ease-in-out;
                }


                @media only screen and (max-width: 769.8px) {
                    &.active .icone span {
                        &:nth-child(1), &:nth-child(4) {
                            top: 8px;
                            width: 0%;
                            left: 50%;
                        }
                        &:nth-child(2) {
                            transform: rotate(45deg);
                        }
                        &:nth-child(3) {
                            transform: rotate(-45deg);
                        }
                    }


                    .icone {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 30px;
                        height: 20px;
                        span {
                            position: absolute;
                            left: 0;
                            display: block;
                            background: #d5ae68;
                            width: 30px;
                            height: 3px;
                            border-radius: 9px;
                            opacity: 1;
                            filter: alpha(opacity=100);
                            transform: rotate(0deg);
                            transition: all 0.25s ease-in-out;
                            &:nth-child(1) {
                                top: 0px;
                            }
                            &:nth-child(2), &:nth-child(3) {
                                top: 9px;
                            }
                            &:nth-child(4) {
                                top: 18px;
                            }
                        }
                    }
                }

            }

            .opensearch {
                display: none;

                @media only screen and (max-width: 769.8px) {
                    display: block;
                    width: 50px;
                    height: 55px;
                    line-height: 55px;
                    font-size: 22px;
                    text-align: center;
                    color: $color-primary-light;
                    &.active {
                        background: $color-primary-light;
                        color: $color-white;
                    }

                }

            }

            .logo-wrapper {
                width: 17rem;
                @media only screen and (max-width: 769.8px) {
                    margin: 0 auto;
                    width: auto;
                }

                .logo {
                    margin: 1rem 0;

                    @media screen and (max-width: 1220px)
                    {
                        margin: 1rem;
                    }
                    @media screen and (max-width: 769.8px)
                    {
                        margin: 0;
                    }
                }

                img {
                    width: 100%;
                    max-width: 16.7rem;
                    @media only screen and (max-width: 769.8px) {
                        width: auto;
                        max-width: unset;
                        max-height: 44px;
                        vertical-align: middle;
                    }
                }
            }

            .header-wrapper {
                width: calc(100% - 17rem);
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: 15px;

                @media screen and (max-width: 769.8px) {
                    width: auto;
                }

                .top-header-item {
                    position: relative;
                    font-weight: 500;
                    padding-left: 40px;
                    font-size: 1.3rem;
                    margin-top: 20px;



                    a {
                        &:hover {
                            color: $color-primary-light;
                            text-decoration: underline;
                        }
                    }

                    a, li {
                        color: $color-white;
                        line-height: 1.495rem;
                    }

                    &:before {
                        font-family: 'fontello';
                        font-size: 2rem;
                        font-weight: 500;
                        color: $color-primary-light;
                        position: absolute;
                        top: 3px;
                        left: 11px;
                    }
                }

                .header-gutter--1 .top-header-item a {
                    font-weight: 700;
                }

                .header-gutter--1 .top-header-item:before {
                    content: '\e820';
                    font-size: 2.15rem;
                }

                .header-gutter--2 .top-header-item:before {
                    content: '\E860';
                    font-size: 2.15rem;
                }

                .header-gutter--2 {
                    li.fale:hover .tooltip {
                        overflow: inherit;
                        height: auto;
                        left: -40px;
                        transform: scaleY(1);
                        opacity: 1;
                        filter: alpha(opacity=100);
                        transition: all 300ms ease;
                    }

                    .tooltip {
                        overflow: hidden;
                        transform-origin: top;
                        height: 0;
                        transform: scaleY(0);
                        opacity: 0;
                        filter: alpha(opacity=0);
                        transition: all 300ms ease;
                        z-index: 10;
                        position: absolute;
                        border: solid 1px #ebebeb;
                        background: #fff;
                        color: #000000;
                        font-size: 13px;
                        padding: 10px 10px 10px 20px;
                        text-align: left;
                        min-width: 245px;
                        width: auto;
                        left: -40px;
                        top: 150%;
                        cursor: pointer;
                        border-radius: 3px;
                        box-shadow: 2px 2px 5px 1px rgb(0 0 0 / 40%);
                        &:before {
                            bottom: 100%;
                            left: 50%;
                            border: solid transparent;
                            content: " ";
                            height: 0;
                            width: 0;
                            position: absolute;
                            pointer-events: none;
                            border-color: rgba(136,183,213,0);
                            border-bottom-color: #fff;
                            border-width: 6px;
                            margin-left: -6px;
                        }

                        span {
                            display: block;
                            font-family: "museo700",sans-serif;
                            color: #d5ae68;
                            font-size: 20px;
                            margin-bottom: 15px;
                            text-align: center;
                        }

                        li {
                            padding: 0;
                            display: block;
                            margin: 0 auto;
                            width: 100%;
                            margin-bottom: 5px;
                            text-align: left;
                            color: #fff;
                            font-weight: 500;
                            letter-spacing: 0px;

                            &:nth-child(3) {
                                margin: 10px 0;
                            }

                            i {
                                color: #d5ae68;
                            }

                            &:not(:last-of-type) i {
                                font-size: 17px;
                            }

                            &:last-of-type i.icon-newsletter-1 {
                                font-size: 13px !important;
                                margin-right: 7px;
                            }

                            a {
                                color: #3a2419;
                                font-size: 17px;
                                font-weight: 600;
                                position: relative;
                                transition: color 0.3s ease;
                            }
                            &:last-child a {
                                font-size: 13px;
                                font-weight: 500;
                            }
                        }
                    }
                }

                .header-gutter--3 {
                    .mobile-search {
                        @media only screen and (max-width: 769.8px) {
                            position: fixed;
                            top: 46px;
                            right: 0;
                            left: 0;
                            padding: 10px !important;
                            background: #d5ae68;
                            overflow: hidden;
                            transform-origin: top;
                            height: 0;
                            transform: scaleY(0);
                            opacity: 0;
                            filter: alpha(opacity=0);
                            transition: all 300ms ease;
                            box-shadow: 0 2px 3px 0 rgb(0 0 0 / 20%);
                        }

                        &.active {
                            @media only screen and (max-width: 769.8px) {
                                overflow: inherit;
                                height: auto;
                                transform: scaleY(1);
                                opacity: 1;
                                filter: alpha(opacity=100);
                                transition: all 300ms ease;
                            }
                        }
                    }
                    .form-search {
                        width: 100%;
                        margin-top: 12.5px;
                        position: relative;
                        @media only screen and (max-width: 769.8px) {
                            margin-top: 0;
                        }

                        &:before {
                            content: '\e821';
                            font-family: 'fontello';
                            font-size: 2rem;
                            color: $color-primary-light;
                            top: 6px;
                            left: 8px;
                            color: #d8d8d8;
                            position: absolute;
                            transition: 0.3s ease;
                            @media only screen and (max-width: 769.8px) {
                                top: 4px;
                            }
                        }

                        .input-text, .input-text::placeholder {
                            color: #999;
                            font-size: 14px;
                            @media only screen and (max-width: 769.8px) {
                                font-size: 13px;
                            }
                        }

                        .input-text {
                            width: 100%;
                            height: 4rem;
                            padding: 7px 64px 6px 32px;

                            border: none;
                            background: #f6f6f6;
                            border-radius: 4px;
                            text-overflow: ellipsis;
                        }

                        button {
                            position: absolute;
                            top: 5px;
                            right: 5px;
                            width: 55px;
                            height: 3rem;
                            border: none;
                            transition: 0.3s ease;
                            border-radius: 3px;
                            color: #fff;
                            font-weight: 600;
                            background: #3a2419;
                            @media screen and (max-width: 769.8px) {
                                top: 4px;
                            }
                        }
                    }



                    @media screen and (min-width: 770px) {
                        width: 41.6666667%;
                    }
                }

                .header-gutter--4 {
                    width: 25%;

                    /* Modified */
                    display: flex;
                    justify-content: flex-end;

                    .icone {
                        position: relative;
                        display: inline-block;
                        margin-right: 40px;

                        padding-left: 4.8rem;
                        height: 28px;

                        &:before {
                            content: '\E861';
                            font-family: 'fontello';
                            display: inline-block;
                            margin-right: 5px;
                            font-size: 2.5rem;
                            color: $color-primary-light;
                            position: absolute;
                            top: 0;
                            right: 0;
                            @media only screen and (max-width: 769.8px) {
                                font-size: 3rem;
                                top: -3px;
                            }
                        }
                        .cart-qtd {
                            position: absolute;
                            top: 50%;
                            left: 86%;
                            font-weight: 500;
                            width: 2rem;
                            height: 2rem;
                            line-height: 17px;
                            text-align: center;
                            border: solid 1px $color-primary-light;
                            border-left: none;
                            border-radius: 0px 5px 5px 0px;
                            z-index: 3;
                            transform: translate(0, -50%);
                            @media only screen and (max-width: 769.8px) {
                                width: 2.4rem;
                                height: 2.4rem;
                                border: solid 2px #d5ae68;
                                border-left: none;
                                transform: translate(0, -50%);
                            }
                            .amount {
                                margin: 0;
                                padding: 0;
                                font-size: 1.3rem;
                                color: #fff;
                                @media only screen and (max-width: 769.8px) {
                                    color: #d5ae68;
                                }
                            }
                        }
                    }

                    ul {
                        display: flex;
                        justify-content: space-between;

                        li span {
                            display: block;
                        }
                        &.language-switcher {
                            gap: 10px;
                            align-items: flex-end;
                            margin-right: 6px;

                            @media only screen and (max-width: 769.8px) {
                                display: none;
                            }

                            .lang-choice a {
                                color: #d5ae68;
                                text-transform: uppercase;
                                font-family: "museo400", sans-serif;
                                font-size: 14px;
                            }
                        }
                    }

                    .lojas:before {
                        content: '\E859';
                        top: 4px;
                    }

                    .favoritos:before {
                        content: '\E865';
                        top: 4px;
                    }
                }

            }
        }

    }

    .nav-container {
        background: transparent;
        z-index: 8;
        position: relative;
        width: 100%;


        @media only screen and (max-width: 769.8px) {
            display: none;
        }

        #nav {
            @media screen and (min-width: 770px)
            {
                position: absolute;
                margin-left: 18rem;
                width: calc(100% - 18rem);
                bottom: 4rem;
            }

            @media screen and (max-width: 1220.8px) {
                bottom: 3rem;
            }

            ul {
                display: flex;
                justify-content: center;
                margin: 0 auto;
                max-width: 850px;

                li {
                    display: flex;
                    position: relative;
                    flex: 1 0 auto;

                    &:not(:last-of-type)::before {
                        content: "";
                        width: .9px;
                        height: 80%;


                        @media screen and (max-width: 1080px) {
                            height: 3vw;
                        }


                        background-color: #0000006e;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translate(0,-50%);
                        z-index: 8;
                    }

                    a {
                        margin: 0 auto;
                        color: #d5ae68;
                        text-transform: uppercase;
                        font-family: "museo700",sans-serif;
                        font-size: 15px;
                        @media screen and (max-width: 1080px) {
                            font-size: 1.7rem;
                        }
                        font-weight: 500;
                        white-space: nowrap;
                        padding: 15px 10px;
                        transition: 0.3s ease;
                    }
                }
            }

        }


    }
}


.nav-mobile-container {
    position: fixed;
    top: 0;
    margin-top: 50px;
    height: calc( 100% - 50px );
    width: 260px;
    overflow-y: auto;
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
    z-index: 100;
    left: -100%;
    padding: 10px 0 0;
    background: #fff;
    transition: left 0.3s;

    &.speed-in {
        @media only screen and (max-width: 769.8px) {
            left: 0;
        }
    }


    #navMobile .language-switcher {
        display: flex;
        gap: 10px;
        width: calc(100% - 48px);
        padding-left: 15px;
        line-height: 42px;

        .lang-choice a {
            color: #d5ae68;
            font-family: "Montserrat", sans-serif;
            font-size: 14px;
        }
    }
    #navMobile ul.level1 li:first-child {
        box-shadow: 0 -1px 0 0 rgb(0 0 0 / 10%), 0 1px 0 0 rgb(0 0 0 / 10%);
    }

    #navMobile ul.level1>li {
        width: 100%;
    }
    #navMobile ul.level1 li {
        position: relative;
        vertical-align: middle;
        box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
        min-height: 42px;
        max-height: 42px;
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        line-height: 42px;
    }
    #navMobile ul.level1 li>a {
        display: block;
        width: calc(100% - 48px);
        color: #d5ae68;
        font-family: "Montserrat",sans-serif;
        font-size: 14px;
        clear: none;
        padding-left: 15px;
        transition: 0.3s ease;
    }
}

.mobile-space {
    @media only screen and (max-width: 769.8px) {
        height: 55px;
        display: block;
    }
}

#shadow-layer.is-visible {
    @media only screen and (max-width: 769.8px) {
        display: block;
        animation: all 0.3s ease;
    }
}

#shadow-layer {
    position: fixed;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    cursor: pointer;
    z-index: 99;
    display: none;
}


