$color-primary-light: #d5ae68;
$color-primary-dark: #3a2419;

$color-white: #fff;
$color-black: #000;

$color-grey-light: #838383;
$color-grey-dark: #898989;

$font-montserrat : "Montserrat",sans-serif;
$font-museo300 : "museo300",sans-serif;
$font-museo400 : "museo400",sans-serif;
$font-museo700 : "museo700",sans-serif;
