.admin {
    .main-footer-wrapper {
        main {
            padding-bottom: 6rem;
        }
    }

    .page-content.container {
        @media only screen and (max-width: 1465px) {
            padding: 0 4rem;
        }
    }

    .messages > li {
        margin: 0 0 4rem;
    }

    .form-wrapper, .view-wrapper {
        display: flex;
        flex-wrap: wrap;
        .col-3 {
            flex: 0 0 25%;
            padding: 0 15px;
            @media only screen and (max-width: 1103.8px) {
                flex: 0 0 33.333%;
            }
            @media only screen and (max-width: 768.8px) {
                flex: 0 0 50%;
            }
            @media only screen and (max-width: 425.8px) {
                flex: 0 0 100%;
            }
        }
        .col-6 {
            flex: 0 0 50%;
            padding: 0 15px;
            @media only screen and (max-width: 768.8px) {
                flex: 0 0 100%;
            }
        }
        .col-12 {
            flex: 0 0 100%;
            padding: 0 15px;
        }
        .table-wrapper {
            margin-bottom: 3rem;
            h3 {
                color: #3a2419;
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 1rem;
            }
            td.operator {
                .success, .danger {
                    font-size: 25px!important;
                }
            }
        }
    }

    .form-container, .view-container {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        @media only screen and (max-width: 1270px) {
            padding: 0 4rem;
        }
        @media only screen and (max-width: 768px)  {
            max-width: 540px;
        }


    }

    .pagination-wrapper {
        svg {
            height: 1rem;
        }
    }

    .custom-btn {
        color: #3a2419;
        font-weight: 600;
        font-size: 1.5rem;
        padding: 1rem 2rem;
        background-color: #efd995;
        border-radius: 5px;
        display: inline-block;
        margin-bottom: 4rem;
        border: 1px solid #d5af69;
        box-shadow: 0 0.5rem 1rem rgba(110, 0, 255, .15);
    }
}
