.admin {
    .main-footer-wrapper .form-page .page-title h1 {
        padding-bottom: 8rem;
    }

    .form-group {
        margin-bottom: 1.3rem;
        position: relative;
    }


    .form-control {
        display: block;
        width: 100%;
        padding: .6rem 1.2rem;
        font-size: 12.8px;
        font-weight: 500;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .4rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        border: 1px solid #d5ae68;
        font-family: "Montserrat", sans-serif;
    }

    .form-page {
        .instance-img {
            height: 100px;
            margin-top: 1.6rem;
        }
        .seperate-line {
            width: 80%;
            margin: 70px auto;
            display: block;
            height: 2px;
            background-color: #d5ae68;
        }
        .invalid-feedback {
            color: #c02230;
        }
        .input-instructions {
            margin-bottom: 1rem;
            padding: 1rem;
            font-size: 1.4rem;
            background-color: #f9edd7;
            border: 1px solid #c02230;
            border-radius: 3px;
            margin-top: 2rem;
            ul {
                margin-bottom: 1rem;
            }
        }
        .edit-product-images-wrapper {
            display: flex;
            margin-right: 1rem;
            flex-wrap: wrap;
            margin-bottom: 1rem;
            .uploaded-img-wrapper {
                position: relative;
                .remove-symbol {
                    position: absolute;
                    content: "x";
                    color: rgb(128 144 181);
                    z-index: 10;
                    width: 25px;
                    font-size: 16px;
                    top: 0;
                    right: 0;
                    cursor: pointer;
                    text-align: center;
                }
            }
        }
    }
}
