.admin {
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 38px;
        z-index: 2;
        background: linear-gradient(170deg, #3f0a05 0%, #7e2b1d 100%);
        display: flex;
        justify-content: space-between;
        padding: 10px 60px 10px 30px;
        border-bottom: 2px solid #d5ae68;

        .admin-navbar-toggler {
            background-color: transparent;
            border: none;
            .navbar-toggler-icon {
                display: flex;
                flex-direction: column;

                span {
                    &:not(:last-of-type) {
                        margin-bottom: 4px;
                    }
                    display: block;
                    background: #d5ae68;
                    width: 30px;
                    height: 3px;
                    border-radius: 9px;
                    opacity: 1;
                    filter: alpha(opacity=100);
                    transform: rotate(0deg);
                    transition: all 0.25s ease-in-out;
                }
            }
        }
        .navbar-nav{
            margin-left: auto;
            .logout-btn {
                border: transparent;
                color: #d5ae68;
                transition: 0.3s ease;
                font-weight: 500;
                font-size: 16px;
                background: none;
                font-family: "museo700", sans-serif;
            }
        }
    }
}
