.admin {
    .form-group {
        margin-bottom: 1.3rem;
        position: relative;
    }


    .form-control {
        display: block;
        width: 100%;
        padding: .6rem 1.2rem;
        font-size: 12.8px;
        font-weight: 500;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .4rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        border: 1px solid #d5ae68;
        font-family: "Montserrat", sans-serif;
    }

    input.form-control, select.form-control {
        height: 4rem;
    }

    label {
        display: inline-block;
        margin-bottom: 0.5rem;
        font-size: 14.4px;
        line-height: 1.5;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
    }

    .submit-btn {
        border: none;
        border-radius: 4px;
        background-color: #d5ae68;
        min-width: 100px;
        padding: 0 14px;
        height: 38px;
        transition: 0.3s ease;
        font-weight: 500;
        font-size: 14px;
        color: #3a2419;
    }

    a.submit-btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .filter-btns-wrapper {
        display: flex;
        align-items: center;
        gap: 2rem
    }

    .buttons-wrapper {
        margin-top: 30px;
    }
}
