.admin {
    .main-footer-wrapper {

        .page-content {
            &.orders-page h1, &.settings-page h1{
                padding: 8rem 0!important;
            }
            .page-title h1 {
                font-size: 4rem;
                color: #d5ae68;
                font-family: "museo700", sans-serif;
                text-align: center;
                padding: 8rem 0 2rem;
            }
            .main-content {

                .filter-form {
                    margin-bottom: 3rem;
                }

                .table-wrapper {
                    width: 100%;
                    @media only screen and (max-width: 1088.8px) {
                        overflow-x: scroll;
                    }
                }
                .data-table {
                    thead {
                            background-color: rgb(235 207 122 / 80%);
                        th {
                            border: 1px solid #d5ae68;
                            color: #3a2419;
                            font-size: 14px;
                            font-weight: 600;
                        }
                    }
                    tbody {
                        font-size: 14px;

                        td {
                            border: 1px solid #d5ae68;
                            a {
                                color: #3a2419;
                                font-weight: 600;
                            }
                            .success, .danger {
                                font-size: 15px;
                                font-weight: 600;
                            }
                            .success {
                                color: #1d980e;
                            }
                            .danger {
                                color: #F00;
                            }
                            .badge-success, .badge-alert, .badge-warning {
                                padding: 3px 10px;
                                border-radius: 5px;
                                color: #fff;
                                font-weight: 500;
                            }
                            .badge-success {
                                background-color: #46983c;
                            }
                            .badge-alert {
                                background-color: #f35840;
                            }
                            .badge-warning {
                                background-color: #f8a610;
                            }
                        }

                        tr:nth-child(even) {
                            background-color: rgb(239 217 149);
                        }
                        .img-content img {
                            height: 90px;
                        }
                    }
                }
            }
        }
    }

}
